body header {
    background: linear-gradient(black 90%, white);
    height: 25em;
    color: white;
    text-align: center;
}

body header div#top button.btn {
    color: white;
    text-align: center;
    position: absolute;
    float: right;
    clear: right;
    top: 0;
    right: 0;
    width: 7em;
    background-color: black;
    border-left: solid 1px white;
}

body header h1 {
    padding-top: 1em;
}

body header img {
    height: 16.5em;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    padding-top: .5em;
}

body section {
    height: 30em;
}

body footer div#left {
    height: 4em;
    float: left;
    background: linear-gradient(white, black);
    border-top: solid .2em black;
    width: 70%;
}

body footer div#right {
    height: 4em;
    float: left;
    width: 30%;
    background: linear-gradient(black, white 70%);
    background-size: 100% .8em;
}



